<div class="container mh-100 mt-5">

    {{!-- <div class="row mh-100"> --}}
        {{!-- <div class="col-lg-3"> --}}
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="chat-messages-tab" data-toggle="tab" href="#chat-messages" role="tab"
                        aria-controls="chat-messages" aria-selected="false"><span class="fas fa-comments"></span>
                        Chats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="users-tab" data-toggle="tab" href="#users" role="tab" aria-controls="users"
                        aria-selected="true"><span class="fas fa-users"></span> Users</a>
                </li>
            </ul>
            <div class="tab-content" id="tab-content">
                <div class="tab-pane fade " id="chat-messages" role="tabpanel" aria-labelledby="chat-messages-tab">

                    {{#each messages}}
                    {{#ifCond dataValues.UserId ../user.id }}
                    <div class="card mb-3 message text-right my-message">
                        <div class="card-body">
                            <div class="card-title">
                                <h4>You </h4>
                            </div>
                            <p>{{dataValues.body}} <span style="font-size:10px">{{dataValues.createdAt}}</span></p>
                        </div>
                    </div>
                    {{else}}
                    <div class="card mb-3 message">
                        <div class="card-body">
                            <div class="card-title">
                                <h4>{{dataValues.User.dataValues.username}} </h4>
                            </div>
                            <p>{{dataValues.body}} <span class="time-font time"
                                    style="font-size:10px">{{dataValues.createdAt}}</span></p>
                        </div>
                    </div>
                    {{/ifCond}}

                    {{/each}}
                </div>
                <div class="tab-pane fade show active" id="users" role="tabpanel" aria-labelledby="users-tab">
                    {{#each users}}
                    <div class="userDisplay">
                        {{#if dataValues.isOnline}}
                        <p><span class="fas fa-user"></span> {{dataValues.username}} (online) <span
                                class=" dot onlineDot"></span></p>
                        {{else}}
                        <p><span class="fas fa-user"></span> {{dataValues.username}} <span
                                class=" dot offlineDot"></span></p>
                        {{/if}}

                    </div>

                    {{/each}}
                </div>

            </div>

            <div class="tab-pane fade" id="chat-messages" role="tabpanel" aria-labelledby="chat-messages-tab">

            </div>
            <form id="chat-form" class="form-group mt-3">
                <div class="input-group">
                    <input type="text" id="msg" class="form-control" placeholder="Enter message" required
                        autocomplete="off">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit"><span
                                class="far fa-paper-plane"></span></button>
                    </div>
                </div>
            </form>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/main.js"></script>
